.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  background-color: var(--white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-inline: 1vw;
}
.logo {
  text-align: center;
  padding: 20px;
  color: var(--primary-color);
  align-items: center;
  display: flex;
  gap: 20px;
  flex-basis: 12vh;
}
.logo .logo-icon {
  font-size: 1.6rem;
}
.menu--list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 88vh;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: var(--primary-color);
}
.item:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
