.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background-color: #010101;*/
}
.panels-container {
  width: 50vw;
  height: 100vh;
  background-color: #4481eb;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  position: relative;
  border-radius: 0 0 43vw 0;
}
.pannel-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  color: white;
}
.pannel-content h4 {
  font-size: 1.6em;
}
.pannel-content button {
  width: fit-content;
  font-size: 1.2em;
  padding: 1vh 2vw;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.panels-container img {
  width: 80%;
  height: 70%;
  scale: 0.9;
}
.form-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.form-container > p {
  font-size: 2.5em;
  color: #4481eb;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  height: 40%;
}

.id-user,
.email-user,
.password-user {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1vw;
  background-color: #f4f4f4;
  border-radius: 2rem;
}
.id-user input,
.email-user input,
.password-user input {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  outline: none;
  border: none;
  background-color: transparent;
}
#Sign-in {
  width: fit-content;
  padding: 1.5vh 3.5vw;
  font-size: 1.3em;
  font-weight: 500;
  color: white;
  background-color: #4481eb;
  border-radius: 4vw;
  outline: none;
  border: none;
  cursor: pointer;
}
.social-icon {
  font-size: 2em !important;
}
.social-icon:hover {
  color: #4481eb;
}
