.admin-body {
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
  background-color: var(--terty-color);
}
.dashboard {
  display: flex;
}
.dashboard--content {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
