.admin-body {
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
  background-color: var(--terty-color);
}
.dashboard {
  display: flex;
}
.dashboard--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88vh;
}
