.content--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  justify-content: space-between;
  width: 82vw;
  padding: 10px;
  box-shadow: 1px 1px 5px #acacac;
  height: 12vh;
}
.search-box {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5vh;
  margin-left: 2vw;
  background-color: #f0f5ff;
  border-radius: 7px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}
.notify {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-inline-end: 2vw;
}
