* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
:root {
  --primary-color: #4481eb;
  --icon-color: #acacac;
  --terty-color: #f0f5ff;
  --white: #ffffff;
}
